/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
 @tailwind base;

 /**
  * This injects Tailwind's component classes and any component classes
  * registered by plugins.
  */
 @tailwind components;
 
 /**
  * This injects Tailwind's utility classes and any utility classes registered
  * by plugins.
  */
 @tailwind utilities;
.section-headline {
    @apply font-bold sm:text-xl uppercase tracking-widest border-green-500 border-l-8 pl-2 mb-4;
}

progress {
    margin-top: 0.5rem;
    width: 100%;
    height: 10px;
    margin-bottom: 0.4rem;
}

progress::-webkit-progress-bar {
    border-radius: 10px;
    background-color: #d1d5db;
    box-shadow: 0 2px 6px #555;
}

progress::-webkit-progress-value {
    border-radius: 10px 0 0 10px;
    background-image: linear-gradient(36deg, #d1fae5, #818cf8);
}

.section-headline {
    color: #10b981 !important;
}

#sitzplan-headline::before {
    display: inline-block;
    height: 30px;
    width: 30px;
    position: relative;
    bottom: -8px;
    content: "";
    background-image: url("/images/sitzplan-logo.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 12px;
}

#chrisko-headline::before {
    display: inline-block;
    height: 30px;
    width: 30px;
    position: relative;
    bottom: -8px;
    content: "";
    background-image: url("../../public/images/chrisko-icon.png");
    background-position: center;
    background-size: contain;
    margin-right: 12px;
    border-radius: 50%;
}

#mealio-headline::before {
    display: inline-block;
    height: 30px;
    width: 30px;
    position: relative;
    bottom: -8px;
    content: "";
    background-image: url("../../public/images/mealio-icon.png");
    background-position: center;
    background-size: contain;
    margin-right: 12px;
}

#headsup-headine::before {
    display: inline-block;
    height: 30px;
    width: 30px;
    position: relative;
    bottom: -4px;
    content: "";
    background-image: url("../../public/images/headsup-logo.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 12px;
}

ul.list-disc {
    margin-left: 24px;
}

.m-ul {
    margin-top: 0 !important;
}

.m-ul li:first-child {
    margin-top: 0 !important;
}

.list-disc li {
    @apply mb-2;
}

.list-custom > li {
    font-weight: bold;
    margin-top: 0.6rem;
}

li ul {
    font-weight: normal;
    list-style:circle;
    margin-left: 32px;
}

@media print {
    @page {
        margin: 25mm 15mm 25mm 15mm;
    }

    /* .section-headline {
    @apply mt-4;
  } */

    .content {
        @apply pb-8;
    }

    #wrapper {
        @apply flex flex-col px-4;
    }

    #sidebar {
        @apply flex flex-col justify-center p-0 w-full sm:max-w-full mt-4;
    }

    .sidebar-section {
        @apply flex gap-12 justify-between;
    }

    .page-break-before {
        break-before: page;
    }

    .page-break-after {
        break-after: page;
    }

    .page-break-not-internal {
        break-inside: avoid;
    }
}