---
import BlogOverviewItem from "./BlogOverviewItem.astro";
import type { ArticleFrontmatter } from "../lib/articles.js";

const { allPostsData } = Astro.props;
---

<div class="blog-overview-wrapper">
  <h2>Latest Blog Posts</h2>
  <input
    id="search-input"
    aria-label="Search blog posts"
    type="search"
    placeholder="Search the blog"
  />
  <div>
    {
      allPostsData.map((post: ArticleFrontmatter) => (
        <div class="blog-item-wrapper" id={post.id}>
          <BlogOverviewItem post={post} key={post.id} />
        </div>
      ))
    }
  </div>
</div>
<script define:vars={{ allPostsData }}>
  const hideItems = (item) => {
    item.style.display = "none";
  };
  const showItems = (item) => {
    item.style.display = "block";
  };
  const searchInput = document.getElementById("search-input");
  const allBlogItems = document.querySelectorAll(".blog-item-wrapper");
  searchInput?.addEventListener("input", (e) => {
    // @ts-ignore - value exists on input type="search"
    const searchTerm = e.target?.value;
    if (typeof searchTerm !== "string" || searchTerm.length < 3) {
      allBlogItems.forEach(showItems);
      return;
    }

    // let searchTermLower = searchTerm.toLowerCase();
    searchRegex = new RegExp(searchTerm, "i");
    const postsToHide = allPostsData.filter(
      (post) =>
        !(searchRegex.test(post.title) || searchRegex.test(post.description) || searchRegex.test(post.shortDescription)),
    );

    postsToHide
      .map((post) => {
        const el = document.getElementById(post.id);
        return el;
      })
      .filter(Boolean)
      .forEach(hideItems);
  });
</script>

<style>
  h2 {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    padding-left: 1rem;
  }

  .blog-overview-wrapper {
    width: 100%;
    padding: 0 0.5rem;
  }

  #search-input {
    display: block;
    margin: 1rem auto;
    padding: 0.7rem 0.5rem;
    width: 90%;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 10px 0px 10px 0;
    box-shadow: 3px 4px 10px lightgray;
    font-size: 0.85rem;
  }

  #nothing-found {
    text-align: center;
    margin: 1rem auto;
  }
</style>
